.cv-download-pill {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.cv-entry {
  display: flex;
  flex-direction: row;
  padding-left: 2.5vw;
  align-items: center;
  gap: 2%;
  /* border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); */
  min-width: auto;
  max-width: auto;
  overflow: scroll;
}

/* .cv-category-entries {
  display: flex;
  flex-direction: row;
  gap: 2%;
} */

.entry-description {
  display: flex;
  flex-direction: column;
}

.h-divider {
  display: none;
}

.logo-link:hover {
  opacity: 25%;
  transition: 0.25s;
}

.organization-logo {
  max-width: 10vw;
}

h3 {
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .h-divider {
    display: block;
    margin: 10%;
  }
  .cv-entry {
    flex-direction: column;
  }
  /* .cv-category-entries {
    flex-direction: column;
    column-gap: 2%;
  } */
  .entry-description p {
    text-align: center;
  }
  .entry-title {
    text-align: center;
  }
  .organization-logo {
    max-width: 60vw;
    max-height: 10vh;
  }
}
