.cv-download-pill {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.cv-category-entries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: flex-start;
}

.cv-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 12px;
  box-shadow: inset 0 4px 8px var(--gray-2);
  background-color: var(--bg-p);
  transition: transform 0.2s, box-shadow 0.2s;

  flex: 1 1 calc((100% - 4rem) / 3);
  max-width: calc((100% - 4rem) / 3);
  min-width: 0;
}

.cv-entry-content {
  padding: 1rem;
  height: 100%;
  border-radius: 0 0 12px 12px;
}

.cv-entry-title {
  align-self: center;
  text-align: center;
}

.cv-entry-description {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: center;
  width: 100%;
}

.h-divider {
  display: none;
}

.cv-entry-header {
  padding: 1.5rem;
}

.cv-entry-header:hover {
  opacity: 25%;
  transition: 0.25s;
}

.organization-logo {
  max-width: 85%;
  height: 120px;
  object-fit: contain;
}

h3 {
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .h-divider {
    display: block;
    margin: 10%;
  }
  .cv-category-title {
    text-align: center;
  }
  .cv-category-entries {
    gap: 1.5rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
  }
  .cv-entry {
    min-width: 75vw;
    max-width: 100%;
  }
}
