<div class="header-main" tabindex="-1">
  <div class="header-content">
    <a href="/" target="_self"
      ><h1>{{ title }}</h1></a
    >
    <ng-container *ngIf="!isMobileWidth()">
      <div class="header-button-group">
        @for (item of nav_links; track item.title) {
        <a [routerLink]="item.link" routerLinkActive="active">
          <span>{{ item.title }}</span>
        </a>
        }
      </div>
    </ng-container>
    <ng-container *ngIf="isMobileWidth()">
      <!-- <ng-container *ngIf="!isDrawerOpen()"> -->
      <span class="material-symbols-outlined" (click)="changeNavDrawer()">
        menu
      </span>
      <!-- </ng-container> -->
      <!-- <ng-container *ngIf="isDrawerOpen()"> -->
      <div class="nav-drawer" [ngClass]="{ open: drawerIsOpen }">
        <ng-container *ngIf="isDrawerOpen()">
          <span class="material-symbols-outlined" (click)="changeNavDrawer()"
            >close</span
          >
          @for (item of nav_links; track item.title) {
          <a [routerLink]="item.link" routerLinkActive="active">
            <span>{{ item.title }}</span>
          </a>
          }
          <app-footer />
        </ng-container>
      </div>
      <!-- </ng-container> -->
    </ng-container>
  </div>
</div>
