<div class="header-main">
  <div class="header-content">
    <a href="/" target="_self"
      ><h1>{{ title }}</h1></a
    >
    <ng-container *ngIf="!isMobileWidth()">
      <div class="header-button-group">
        @for (item of [ {title: "Portfolio", link: "/portfolio"}, {title: "CV",
        link: "/cv"} ]; track $index) {
        <a [routerLink]="item.link" routerLinkActive="active">
          <span>{{ item.title }}</span>
        </a>
        }
      </div>
    </ng-container>
    <ng-container *ngIf="isMobileWidth()">
      <ng-container *ngIf="!isDrawerOpen()">
        <span class="material-symbols-outlined" (click)="changeNavDrawer()">
          menu
        </span>
      </ng-container>
      <ng-container *ngIf="isDrawerOpen()">
        <div class="nav-drawer">
          <span class="material-symbols-outlined" (click)="changeNavDrawer()"
            >close</span
          >
          <p>hello world</p>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
