h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  line-height: 100%;
  letter-spacing: -0.1rem;
  margin: 0;
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.main {
  min-height: 100vh;
  box-sizing: inherit;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("/headshot.jpg");
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat;
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1.5rem;
}

.name-header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  animation: 1s ease-out 0s 1 slideTop;
}

.name-header h1 {
  color: white;
}

.name-header h2 {
  color: white;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 250;
}

/* .pill-group .pill:nth-child(6n + 1) {
  --pill-accent: var(--bright-blue);
}
.pill-group .pill:nth-child(6n + 2) {
  --pill-accent: var(--french-violet);
}
.pill-group .pill:nth-child(6n + 3),
.pill-group .pill:nth-child(6n + 4),
.pill-group .pill:nth-child(6n + 5) {
  --pill-accent: var(--hot-red);
} */

.pill-group svg {
  margin-inline-start: 0.25rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
  animation: 1s ease-out 0s 1 slideBottom;
}

.social-links path {
  transition: fill 0.3s ease;
  fill: var(--gray-400);
}

.social-links a:hover svg path {
  fill: var(--gray-900);
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }
}
