h1 {
  font-size: 3.125rem;
  color: var(--gray-0);
  line-height: 100%;
  letter-spacing: -0.1rem;
  margin: 0;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.main {
  min-height: 100vh;
  box-sizing: inherit;
  position: relative;
  background: linear-gradient(
      color-mix(in srgb, var(--gray-0) 80%, transparent 20%),
      color-mix(in srgb, var(--gray-0) 80%, transparent 20%)
    ),
    url("/headshot-hor.jpg");
  background-size: auto;
  background-position: center 67.5%;
  background-repeat: no-repeat;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  flex-direction: row;
}

.name-header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  animation: 1s ease-out 0s 1 slideTop;
}

.name-header h1 {
  color: var(--bg-p);
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: regular;
}

.name-header h2 {
  color: var(--bg-p);
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 250;
}

.pill {
  background-color: var(--bg-p);
  border-color: var(--bg-p);
  box-shadow: 4px 4px 0 var(--primary-purple);
}

.pill:hover {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.pill-group {
  border-radius: 12px;
}

.pill-group svg {
  margin-inline-start: 0.25rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
  animation: 1s ease-out 0s 1 slideBottom;
}

.social-links path {
  transition: fill 0.3s ease;
  fill: var(--bg-p);
}

.social-links a:hover svg path {
  fill: var(--primary-purple);
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }

  .main {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/headshot-vert.jpg");
    background-size: auto 130%;
    background-position: 40% 35%;
    background-repeat: no-repeat;
  }
}
