.global {
  --primary-purple: oklch(56% 0.1653 287.34);
  --primary-blue: oklch(54.05% 0.2348 270.07);

  --primary-background: oklch(99.12% 0.0099 99.83);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --purple-to-blue-gradient: linear-gradient(
    180deg,
    var(--primary-purple) 0%,
    var(--primary-blue) 100%
  );

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-background);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 75vw;
  margin-bottom: 4%;
}

.v-divider {
  width: 1px;
  background: var(--purple-to-blue-gradient);
  margin-inline: 0.5rem;
}

.h-divider {
  height: 1px;
  background: var(--purple-to-blue-gradient);
  margin-inline: 0.5rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--primary-purple);
  background: color-mix(in srgb, var(--pill-accent) 25%, transparent);
  color: var(--primary-purple);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 20%, var(--primary-blue));
  color: white;
}

.pill-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  animation: 1s ease-out 0s 1 slideBottom;
}

@keyframes slideTop {
  0% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0);
  }
}
