.global {
  --primary-purple: oklch(54.57% 0.1662 278.57);
  --primary-blue: oklch(54.05% 0.2348 270.07);

  --primary-background: oklch(99.12% 0.0099 99.83);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --purple-to-blue-gradient: linear-gradient(
    180deg,
    var(--primary-purple) 0%,
    var(--primary-blue) 100%
  );

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-background);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 75vw;
}

.v-divider {
  width: 1px;
  background: var(--purple-to-blue-gradient);
  margin-inline: 0.5rem;
}

.h-divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}

@keyframes slideTop {
  0% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0);
  }
}

